.deck-container{
background:transparent;
padding:0;
}
.deck-container .left-pane{
  
  background: #f4fafe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4fafe 0%, #ccf0f0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4fafe), color-stop(100%, #ccf0f0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4fafe 0%, #ccf0f0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4fafe 0%, #ccf0f0 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f4fafe 0%, #ccf0f0 100%);
  /* IE10+ */
  background: linear-gradient(top, #f4fafe 0%, #ccf0f0 100%);
  /* W3C */
  background-attachment: fixed;
}

.deck-status{
	position: absolute;
	top:10px;
	right:30px !important;
	height:40px;
}


.slide h2{
	font-size: 1.50em;
}
.chat-content{
height:140px;
overflow:auto;
}